/* floating-button */
.floating-button {
	height: 62px;
	width: 62px;
	position: fixed;
	bottom: 160px;
	right: 30px;
	background-color: #646cff;
	color: #fff;
	font-size: 24px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
  
.floating-button:hover {
	background-color: #5059fe;
} 